.markdown {
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;

  & [hidden] {
    display: none !important;
  }

  & a {
    color: var(--color-fg-accent);

    &:focus {
      outline: 2px solid var(--color-focus-outline);
      outline-offset: -2px;
      box-shadow: none;

      &:not([class]) {
        outline-offset: 0;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  & :is(b, strong) {
    font-weight: var(--text-weight-semibold);
  }

  /* custom */
  & mark {
    padding: 0 var(--size-4); /* default: nothing */
    color: var(--color-fg-default);
    background-color: var(--color-main); /* default: var(--color-bg-attention-muted); */
    border-radius: var(--size-border-radius); /* default: nothing */
  }

  & img {
    max-width: 100%;
    border-radius: var(--size-border-radius);
  }

  & figure {
    margin: 1em var(--size-40);
  }

  & hr {
    height: 0.25em;
    margin: var(--size-24) 0;
    overflow: hidden;
    background-color: var(--color-border-default);
    border: 0;
  }

  & [type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
  }

  & table {
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
  }

  & details summary {
    cursor: pointer;
  }

  & kbd {
    display: inline-block;
    padding: var(--size-4);
    font: 11px var(--font-stack-monospace);
    line-height: 10px;
    vertical-align: middle;
    color: var(--color-fg-default);
    background-color: var(--color-bg-muted);
    border: solid 1px var(--color-border-neutral-muted);
    border-radius: var(--size-border-radius);
    box-shadow: inset 0 -1px 0 var(--color-border-neutral-muted);
  }

  /* #region h1, h2, h3, h4, h5, h6 */

  & :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--size-24);
    margin-bottom: var(--size-16);
    font-weight: var(--text-weight-semibold);
    line-height: 1.25;

    /* Keep linked headings visible below the sticky header. */
    scroll-margin-top: calc(var(--size-header-height) + var(--size-16));

    & .icon-link {
      visibility: hidden;
      vertical-align: baseline;
      color: var(--color-fg-default);
    }

    & > a[aria-hidden='true'][href^='#'] {
      float: left;
      padding-right: var(--size-4);
      margin-left: -24px;
      text-decoration: none;

      &:focus {
        outline: none;
      }
    }

    &:is(:hover, :focus-within) > a[aria-hidden='true'][href^='#'] .icon-link {
      visibility: visible;

      &::before {
        display: inline-block;
        width: 20px;
        height: 20px;
        content: ' ';
        background-color: currentcolor;
        -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
        mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
      }
    }

    & :is(tt, code) {
      padding: 0 0.2em;
      font-size: inherit;
    }
  }

  & h1 {
    padding-bottom: 0.3em;
    margin: 0.67em 0;
    font-size: 2em;
    border-bottom: 1px solid var(--color-border-muted);
  }

  & h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--color-border-muted);
  }

  & h3 {
    font-size: 1.25em;
  }

  & h4 {
    font-size: 1em;
  }

  & h5 {
    font-size: 0.875em;
  }

  & h6 {
    font-size: 0.85em;
    color: var(--color-fg-muted);
  }

  & summary {
    & :is(h1, h2) {
      padding-bottom: 0;
      border-bottom: 0;
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      display: inline-block;

      & > a[aria-hidden='true'][href^='#'] {
        margin-left: -40px;
      }
    }
  }

  /* #endregion h1, h2, h3, h4, h5, h6 */

  & blockquote {
    padding: 0 1em;
    margin: 0;
    color: var(--color-fg-muted);
    border-left: 0.25em solid var(--color-border-default);
  }

  & :is(p, blockquote, ul, ol, dl, table, pre, details) {
    margin-top: 0;
    margin-bottom: var(--size-16);
  }

  & ul,
  & ol {
    padding-left: 2em;
  }

  & :is(ul, ol) ol {
    list-style-type: lower-roman;
  }

  & :is(ul, ol) :is(ul, ol) ol {
    list-style-type: lower-alpha;
  }

  & dd {
    margin-left: 0;
  }

  & tt,
  & code,
  & samp {
    font-family: var(--font-stack-monospace);
  }

  & .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentcolor;
  }

  & .mr-2 {
    margin-right: var(--size-8) !important;
  }

  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }

  & blockquote > :first-child {
    margin-top: 0;
  }

  & blockquote > :last-child {
    margin-bottom: 0;
  }

  & ol[type='1'] {
    list-style-type: decimal;
  }

  & .footnotes ol {
    padding-left: var(--size-16);
  }

  & div > ol:not([type]) {
    list-style-type: decimal;
  }

  & :is(ul, ol) :is(ul, ol) {
    margin-top: 0;
    margin-bottom: 0;
  }

  & li > p {
    margin-top: var(--size-16);
  }

  & li + li {
    margin-top: 0.25em;
  }

  & dl {
    padding: 0;
  }

  & dl dt {
    padding: 0;
    margin-top: var(--size-16);
    font-size: 1em;
    font-style: italic;
    font-weight: var(--text-weight-semibold);
  }

  & dl dd {
    padding: 0 var(--size-16);
    margin-bottom: var(--size-16);
  }

  & table th {
    font-weight: var(--text-weight-semibold);
  }

  & table :is(th, td) {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default);
  }

  & table td > :last-child {
    margin-bottom: 0;
  }

  & table tr {
    background-color: var(--color-bg-default);
    border-top: 1px solid var(--color-border-muted);
  }

  & table tr:nth-child(2n) {
    background-color: var(--color-bg-muted);
  }

  & table img {
    background-color: transparent;
  }

  & .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
  }

  & code,
  & tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--color-bg-neutral-muted);
    border-radius: 6px;
  }

  & :is(code, tt) br {
    display: none;
  }

  & del code {
    text-decoration: inherit;
  }

  & samp {
    font-size: 85%;
  }

  & pre {
    padding: var(--size-16);
    overflow: auto;
    font-family: var(--font-stack-monospace);
    font-size: 85%;
    line-height: 1.45;
    color: var(--color-fg-default);
    overflow-wrap: normal;
    background-color: var(--color-bg-muted);
    border-radius: var(--size-border-radius);

    & :is(code, tt) {
      padding: 0;
      background-color: transparent;
    }

    & code {
      font-size: 100%;
    }

    & > code {
      white-space: pre;
      background: transparent;
    }
  }

  & [data-footnote-ref]::before {
    content: '[';
  }

  & [data-footnote-ref]::after {
    content: ']';
  }

  & .footnotes {
    font-size: 12px;
    color: var(--color-fg-muted);
    border-top: 1px solid var(--color-border-default);
  }

  & .footnotes ol ul {
    display: inline-block;
    padding-left: var(--size-16);
    margin-top: var(--size-16);
  }

  & .footnotes li {
    position: relative;
  }

  & .footnotes li:target::before {
    position: absolute;
    inset: calc(var(--size-8) * -1) calc(var(--size-8) * -1) calc(var(--size-8) * -1)
      calc(var(--size-24) * -1);
    pointer-events: none;
    content: '';
    border: 2px solid var(--color-border-accent-emphasis);
    border-radius: var(--size-border-radius);
  }

  & .footnotes li:target {
    color: var(--color-fg-default);
  }

  & .pl-c {
    color: var(--color-syntax-comment);
  }

  & .pl-v,
  & .pl-smw {
    color: var(--color-syntax-variable);
  }

  & .pl-c1,
  & .pl-s .pl-v {
    color: var(--color-syntax-constant);
  }

  & .pl-e,
  & .pl-en {
    color: var(--color-syntax-entity);
  }

  & .pl-smi,
  & .pl-s .pl-s1 {
    color: var(--color-syntax-storage-modifier-import);
  }

  & .pl-ent {
    color: var(--color-syntax-entity-tag);
  }

  & .pl-k {
    color: var(--color-syntax-keyword);
  }

  & .pl-s,
  & .pl-pds,
  & .pl-s .pl-pse .pl-s1,
  & .pl-sr,
  & .pl-sr :is(.pl-cce, .pl-sre, .pl-sra) {
    color: var(--color-syntax-string);
  }

  & .pl-bu {
    color: var(--color-syntax-brackethighlighter-unmatched);
  }

  & .pl-ii {
    color: var(--color-syntax-invalid-illegal-text);
    background-color: var(--color-syntax-invalid-illegal-bg);
  }

  & .pl-c2 {
    color: var(--color-syntax-carriage-return-text);
    background-color: var(--color-syntax-carriage-return-bg);
  }

  & .pl-sr .pl-cce {
    font-weight: bold;
    color: var(--color-syntax-string-regexp);
  }

  & .pl-ml {
    color: var(--color-syntax-markup-list);
  }

  & .pl-mh,
  & .pl-mh .pl-en,
  & .pl-ms {
    font-weight: bold;
    color: var(--color-syntax-markup-heading);
  }

  & .pl-mi {
    font-style: italic;
    color: var(--color-syntax-markup-italic);
  }

  & .pl-mb {
    font-weight: bold;
    color: var(--color-syntax-markup-bold);
  }

  & .pl-md {
    color: var(--color-syntax-markup-deleted-text);
    background-color: var(--color-syntax-markup-deleted-bg);
  }

  & .pl-mi1 {
    color: var(--color-syntax-markup-inserted-text);
    background-color: var(--color-syntax-markup-inserted-bg);
  }

  & .pl-mc {
    color: var(--color-syntax-markup-changed-text);
    background-color: var(--color-syntax-markup-changed-bg);
  }

  & .pl-mi2 {
    color: var(--color-syntax-markup-ignored-text);
    background-color: var(--color-syntax-markup-ignored-bg);
  }

  & .pl-mdr {
    font-weight: bold;
    color: var(--color-syntax-meta-diff-range);
  }

  & .pl-ba {
    color: var(--color-syntax-brackethighlighter-angle);
  }

  & .pl-sg {
    color: var(--color-syntax-sublimelinter-gutter-mark);
  }

  & .pl-corl {
    color: var(--color-syntax-constant-other-reference-link);
    text-decoration: underline;
  }

  & summary:focus:not(:focus-visible),
  & a:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }

  & .task-list-item {
    list-style-type: none;
  }

  & .task-list-item + .task-list-item {
    margin-top: var(--size-4);
  }

  & .markdown-alert {
    padding: var(--size-8) var(--size-16);
    margin-bottom: var(--size-16);
    color: inherit;
    border-left: 0.25em solid var(--color-border-default);

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    & .markdown-alert-title {
      display: flex;
      align-items: center;
      font-weight: var(--text-weight-medium);
      line-height: 1;
    }

    &.markdown-alert-note {
      border-left-color: var(--color-border-accent-emphasis);

      & .markdown-alert-title {
        color: var(--color-fg-accent);
      }
    }

    &.markdown-alert-important {
      border-left-color: var(--color-border-done-emphasis);

      & .markdown-alert-title {
        color: var(--color-fg-done);
      }
    }

    &.markdown-alert-warning {
      border-left-color: var(--color-border-attention-emphasis);

      & .markdown-alert-title {
        color: var(--color-fg-attention);
      }
    }

    &.markdown-alert-tip {
      border-left-color: var(--color-border-success-emphasis);

      & .markdown-alert-title {
        color: var(--color-fg-success);
      }
    }

    &.markdown-alert-caution {
      border-left-color: var(--color-border-danger-emphasis);

      & .markdown-alert-title {
        color: var(--color-fg-danger);
      }
    }
  }

  /* custom properties: used by `rehype-github-color` */

  & .d-inline-block {
    display: inline-block !important;
  }

  & .ml-1 {
    margin-left: 4px !important;
  }

  & .color-border-subtle {
    border-color: var(--color-border-subtle) !important;
  }

  & .circle {
    border-radius: 50% !important;
  }

  & .border {
    border: 1px solid var(--color-border-default) !important;
  }
}
