.body {
  display: grid;
  grid-template-rows: var(--size-scroll-progress-height) var(--size-header-height) 1fr;
  grid-template-columns: var(--size-sidebar-width) minmax(0, 1fr) 0;
  font-family: var(--font-stack-system);
  color: var(--color-fg-default);
  background-color: var(--color-bg-inset);

  & > .scroll-progress {
    grid-area: 1 / 1 / 2 / 4;
  }

  & > header {
    position: sticky;
    top: var(--size-scroll-progress-height);
    z-index: 1;
    display: flex;
    grid-area: 2 / 1 / 3 / 4;
    justify-content: space-between;
    padding: 0 var(--size-article-padding-small);
    background-color: inherit;
    border-bottom: var(--border-default);

    > div:last-child {
      display: flex;
      justify-content: space-between;
    }

    @media (width >= 1024px) {
      padding: 0 calc(var(--size-article-padding-small) * 2) 0
        var(--size-article-padding-large);
    }

    @media (width >= 1280px) {
      display: grid;
      grid-template-columns: var(--size-sidebar-width) 1fr min-content;
      padding: 0 calc(var(--size-article-padding-small) * 2) 0 0;

      > div:first-child {
        grid-area: 1 / 1 / 2 / 2;
      }

      > div:last-child {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
  }

  & > aside:first-of-type {
    z-index: 1;
    grid-area: 3 / 1 / 4 / 2;
  }

  & > main {
    grid-area: 3 / 1 / 4 / 4;
    contain: paint; /* `overflow: hidden` prevent children's `position: sticky` from working. So I used it instead. */

    & > article {
      box-sizing: border-box;
      width: 100%;
      min-width: 200px;
      max-width: 980px;
      padding: var(--size-article-padding-large) var(--size-article-padding-medium);
      margin: 0 auto;

      @media (width >= 1024px) {
        padding: var(--size-article-padding-large);
      }
    }
  }

  & > aside:last-of-type {
    grid-area: 3 / 3 / 4 / 4;
    transform: translateX(100%);
  }

  @media (width >= 768px) {
    grid-template-columns:
      var(--size-sidebar-width) minmax(0, 1fr)
      var(--size-sidebar-width);

    & > main {
      grid-area: 3 / 1 / 4 / 3;
    }

    & > aside:last-of-type {
      transform: translateX(0);
    }
  }

  @media (width >= 1280px) {
    & > main {
      grid-area: 3 / 2 / 4 / 3;
    }
  }
}
