.loading {
  composes: flex-center from global;

  & > div {
    flex-direction: column;

    & > div {
      padding: var(--spacing-static-sm) 0;
    }

    & > .content {
      color: var(--color-fg-muted);
    }
  }
}
