.custom-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Fallback for browsers that don't support `::-webkit-scrollbar` (e.g. Firefox). */
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: none;
  }
}

.custom-main-others {
  width: var(--main-section-width);
  margin: 20px auto;
}

.custom-main-section {
  width: var(--main-section-width);
  padding: var(--main-section-padding);
  margin: 40px auto;
  line-height: 1.5;
}

.custom-main-section-bash {
  font-family: var(--font-ngc);
  white-space: pre-line;
  background-color: var(--color-background-dark);
}

.custom-invisible-section {
  height: 0;
  padding: 0 var(--main-section-padding);
  margin: 0 auto;
  pointer-events: none;
  border-width: 0 !important;
  opacity: 0;
}

/* Filters: https://tailwindcss.com/docs/opacity */
.opacity-0 {
  opacity: 0;
}

/* Transitions & Animation: https://tailwindcss.com/docs/transition-property */
.transition {
  transition: all 2s ease-in-out;
}

/* Interactivity: https://tailwindcss.com/docs/pointer-events */
.pointer-events-none {
  pointer-events: none;
}

/* Interactivity: https://tailwindcss.com/docs/user-select */
.select-none {
  /* stylelint-disable-next-line property-no-vendor-prefix -- `user-select`: limited availability */
  -webkit-user-select: none;
  user-select: none;
}
