.profile {
  composes: flex-center from global;
  flex-direction: column;
  margin: var(--spacing-static-md);

  & > img {
    border-radius: var(--border-radius-circle);
  }

  & > .user-name {
    padding: var(--spacing-static-md) 0;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
  }

  & > .user-bio {
    font-size: var(--font-size-xs);
    color: var(--color-fg-muted);
    letter-spacing: var(--letter-spacing-tight);
  }
}
