.ProgBar {
  --prog-bar-height: 3px;
  --prog-bar-border-radius: 15px;
  --prog-bar-color-main: #9a9a9a;
  --prog-bar-color-sub: lightgray;

  position: fixed;
  z-index: 500;
  height: var(--prog-bar-height);
  border-radius: var(--prog-bar-border-radius);
  animation-delay: calc(var(--scrollRatio) * -1s);
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: progress;
  animation-play-state: paused;
  animation-timing-function: ease-out;
}

@keyframes progress {
  0% {
    width: 0%;
    background-color: var(--prog-bar-color-main);
  }

  50% {
    width: 50%;
    background-color: var(--prog-bar-color-sub);
  }

  100% {
    width: 100%;
    background-color: var(--prog-bar-color-main);
  }
}
