.doc-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--size-10) var(--spacing-static-sm) var(--size-10) 0;

  @media (width >= 768px) {
    width: 256px;
    border: var(--border-default);
    border-radius: var(--border-radius-md);
  }
}
