.lang-toggle {
  composes: flex-center from global;

  > a {
    width: var(--size-32);
    height: var(--size-32);
    font-size: var(--font-size-md);
    font-weight: var(--text-weight-semibold);
    text-decoration: none;
  }
}
