.title {
  composes: flex-center from global;

  & > a > img {
    border-radius: var(--border-radius-circle);
  }

  & > div {
    display: none;
  }

  @media (width >= 640px) {
    & > div {
      display: grid;
      grid-template-rows: 2fr 1fr;
      padding-left: var(--spacing-static-md);

      & > .user-name {
        padding: var(--spacing-static-sm) 0;
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-semibold);
      }

      & > .user-bio {
        font-size: var(--font-size-xs);
        color: var(--color-fg-muted);
        letter-spacing: var(--letter-spacing-tight);
      }
    }
  }
}
