/**
 * Animation for blinking an element.
 */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/**
 * Animation for fading in an element.
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/**
 * Animation for fading out an element.
 */
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/**
 * Animation for shaking an element, typically used for a hover effect.
 */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(6deg);
  }

  65% {
    transform: rotate(-3deg);
  }

  80% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
