/**
 * Animation for blinking an element.
 */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/**
 * Animation for fading in an element.
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/**
 * Animation for fading out an element.
 */
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
