.nav {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  min-height: 100%;
  max-height: 100vh;
  padding: 38px 12px;
  font-family: var(--font-stack-serif);
  background-color: var(--color-paper);
  border-left: 1px solid var(--color-hairline);

  & > div {
    padding: 8px;
    background-color: var(--color-paper-raised);
    border: 3px double var(--color-hairline-strong);
  }

  @media (width >= 768px) {
    background-color: inherit;
    border-left: 1px solid var(--color-hairline);
  }

  @media (width >= 1024px) {
    padding: 38px 12px 0;
  }
}
