.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  animation:
    4s ease-in-out 4s backwards global(fade-in),
    8s ease-in-out pointer-events-none;
}

@keyframes pointer-events-none {
  from,
  to {
    pointer-events: none;
  }
}
