.main-button {
  animation: /* NOTE: `global()` is CSS Modules specific syntax */
    4s ease-in-out 4s backwards global(fade-in),
    8s ease-in-out pointer-events-none;
}

@keyframes pointer-events-none {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: none;
  }
}
